
<div class="mainStyle">
  <div class="footLabelStyle">
<!--    南昌航空大学软件学院在线实验课程中心-->
<!--  </div>-->
<!--  <div class="linkStyle">-->
<!--    <label>相关链接:</label>-->
<!--    <a  href="http://ss.nchu.edu.cn">南昌航空大学软件学院</a>-->
<!--    <a  href="http://www.nchu.edu.cn">南昌航空大学</a>-->
<!--    <a  href="http://jwc-publish.jwc.nchu.edu.cn/">教务处</a>-->
<!--  </div>-->
<!--  <div class="copyrightStyle">-->
<!--    Copyright @2019 南昌航空大学软件学院. All Rights Reserved. 赣ICP备17017224号/网站编号4062600-->
  </div>
</div>

