.headerStyle {
  /*background-color: #F3F3F3;*/
  background-color: lightblue;
  width: 100%;
  min-width: 1400px;
  height: 12%;
  min-height: 80px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.imageStyle {
  height: 80%;
  vertical-align: middle;
}
.showStyle {
  display: inline;
}

.specialFontStyle{
  font-size: 22px;
  font-family: "Arial ";
  font-weight: bold;
  color: #00005f;
  margin-left: -10px;
}

.normalFontStyle{
  font-size: 28px;
  font-family: "华文新魏";
  letter-spacing: -2px;
}

.fontStyle {
  font-size: 40px;
}

.loginState {
  height: 80px;
  line-height: 80px;
  float: right;
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
  /*position: relative;*/
  /*margin-top: 10px;*/
  vertical-align: middle;
  /*border: 1px solid red;*/
}

.loginState img {
  padding-left: 10px;
}


