 <div class="parentStyle">
   <div class="container">
     <img src="././assets/images/login_page.jpg">
   </div>

   <div class="loginStyle">
     <div class="loginLabelStyle">用户登录</div>
      <form #loginForm ="ngForm">
<!--        <span><mat-icon class="matStyle">account_box</mat-icon></span>-->
        <div  class="userNameStyle">
          <span class="material-icons matStyle">account_box</span>
          <input type="text" name="userName" placeholder="请输入用户名" [(ngModel)]="user.userName">
        </div>

        <div class="userNameStyle">
          <span class="material-icons matStyle">lock</span>
          <input type="password" name="password" placeholder="请输入密码" [(ngModel)]="user.password">
        </div>

        <div>
          <button class="loginButtonStyle">登录</button>
        </div>

      </form>
   </div>
 </div>








