<div style="width: 100%; height: 30px"></div>
<nz-table #sysExerciseTable [nzData]="sysData" [nzFrontPagination]="false"
          [nzShowSizeChanger]="true" [nzLoading]="loading" [nzPageSize]="pageSize"
          [nzPageSizeOptions]="[10,20,50]" [nzTotal]="totalSize" nzTitle=" "
          (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"
          nzSize="default">
  <thead>
  <tr>
    <th>名称</th>
    <th>类型</th>
    <th>标签</th>
    <th>状态</th>
    <!--      <th>难度</th>-->
    <th>上传人</th>
    <th *ngIf="judgePermis">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sysExerciseTable.data">
    <td>
      <pre style="text-align: left" [innerHTML]="data.exerciseName"></pre>
    </td>
    <td>
      <span *ngIf="1==data.exerciseType">编程题</span>
      <span *ngIf="2==data.exerciseType">单选题</span>
      <span *ngIf="3==data.exerciseType">判断题</span>
      <span *ngIf="4==data.exerciseType">填空题</span>
      <span *ngIf="5==data.exerciseType">多选题</span>
      <span *ngIf="6==data.exerciseType">主观题</span>
    </td>
    <td>{{ data.exerciseLabel }}</td>
<!--    <td>-->
<!--      <span *ngIf="data.exerciseInputExample.length >15; else inputExample" title="{{data.exerciseInputExample}}">{{ data.exerciseInputExample.substring(0,15)+"..."}}</span>-->
<!--      <ng-template #inputExample>{{ data.exerciseInputExample}}</ng-template>-->
<!--    </td>-->
<!--    <td>-->
<!--      <span *ngIf="data.exerciseOutputExample.length >15; else exerciseOutputExample" title="{{data.exerciseOutputExample}}">{{ data.exerciseOutputExample.substring(0,15)+"..."}}</span>-->
<!--      <ng-template #exerciseOutputExample>{{ data.exerciseOutputExample}}</ng-template>-->
<!--    </td>-->
    <td><label style="color:white; background-color: red; padding: 2px">待审核</label></td>
    <td>{{data.exerciseUploadUserName}}</td>
    <td *ngIf="judgePermis">
      <button *ngIf="permisAll.indexOf(exercisePassPermis)>=0" class="buttonActionStyle"  nz-button nzType="primary" (click)="pass(data.exerciseId)">通过</button>
      <button *ngIf="permisAll.indexOf(exerciseRefusePermis)>=0" class="buttonActionStyle"  nz-button nzType="danger" (click)="refuse(data.exerciseId)">拒绝</button>
    </td>

  </tr>
  </tbody>
</nz-table>
<div style="width: 100%; height: 30px"></div>
