<div style="width: 100%; height: 30px"></div>
<nz-table #sysLogTable [nzData]="sysData" [nzFrontPagination]="false"
          [nzShowSizeChanger]="true" [nzLoading]="loading" [nzPageSize]="pageSize"
          [nzPageSizeOptions]="[10,20,50,100]" [nzTotal]="totalSize" nzTitle=" "
          (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"
          nzSize="default">
  <thead>
  <div style="width: 60px;font-size: 20px">
    <a (click)="backCollections()"><i nz-icon nzType="left" nzTheme="outline"></i>返回</a>
  </div>
  <tr>
    <th>题目名称</th>
    <th>题目标签</th>
    <th>题目类型</th>
    <th>提交次数</th>
    <th>得分</th>
    <th>总分</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sysLogTable.data">
    <td>
      <pre style="text-align: left" [innerHTML]="data.exerciseName"></pre>
    </td>
    <td>{{ data.exerciseLabel }}</td>
    <td>
      <span *ngIf="1==data.exerciseType">编程题</span>
      <span *ngIf="2==data.exerciseType">单选题</span>
      <span *ngIf="3==data.exerciseType">判断题</span>
      <span *ngIf="4==data.exerciseType">填空题</span>
      <span *ngIf="5==data.exerciseType">多选题</span>
      <span *ngIf="6==data.exerciseType">主观题</span>
    </td>
    <td>{{ data.times }}次</td>
    <td>{{ data.rightScore }}（分）</td>
    <td>{{ data.totalScore }}（分）</td>
  </tr>
  </tbody>
</nz-table>
<div style="width: 100%; height: 30px"></div>
