<!--表格-->
<div style="background-color: #F0F2F5">
  <div style="width: 100%; height: 30px"></div>
<!--  <div class="topStyle">-->
<!--    <button *ngIf="permisAll.indexOf(uploadExercisePermis) >= 0" (click)="changeVisible()" class="uploadExerciseBtn" nz-button nzType="default"><i nz-icon nzType="plus"></i>上传题目</button>-->

<!--    <div style="margin-left: 200px;display: inline-block">-->
<!--      <label>题目标签：</label>-->
<!--      <nz-select class="topSelectStyle" nzShowSearch nzAllowClear nzPlaceHolder="可选择" [(ngModel)]="selectExerciseLabel">-->
<!--        <ng-container *ngFor="let option of listOfOption">-->
<!--          <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>-->
<!--        </ng-container>-->
<!--      </nz-select>-->
<!--    </div>-->
<!--    <div style="display: inline;margin-left: 100px;">-->
<!--      <label>题目名称：</label>-->
<!--      <input class="topInput" [(ngModel)]="selectExerciseName"/>-->
<!--    </div>-->

<!--    <button (click)="selectExercise()" nz-button nzType="primary" style="margin-left: 100px;">查询</button>-->

<!--  </div>-->
  <nz-table #sysExerciseTable [nzData]="sysData" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true" [nzLoading]="loading" [nzPageSize]="pageSize"
            [nzPageSizeOptions]="[10,20,50,100]" [nzTotal]="totalSize" nzTitle=" "
            (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"
            nzSize="default">
    <thead>
        <button *ngIf="permisAll.indexOf(uploadExercisePermis) >= 0" (click)="changeVisible()" class="uploadExerciseBtn" nz-button nzType="default"><i nz-icon nzType="plus"></i>上传题目</button>

    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>标签</th>
      <th>语言</th>
      <th>类型</th>
<!--      <th>难度</th>-->
      <th>上传人</th>
      <th *ngIf="judgePermis">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sysExerciseTable.data">
      <td>
        <span *ngIf="data.exerciseName.length >15; else userName" title="{{data.exerciseName}}">{{ data.exerciseName.substring(0,15)+"..."}}</span>
        <ng-template #userName>{{ data.exerciseName}}</ng-template>
      </td>
      <td>
        <span *ngIf="data.exerciseDescription.length >15; else description" title="{{data.exerciseDescription}}">{{ data.exerciseDescription.substring(0,15)+"..."}}</span>
        <ng-template #description>{{ data.exerciseDescription}}</ng-template>
      </td>
      <td>{{ data.exerciseLabel }}</td>
      <td>{{ data.exerciseLanguage}}</td>
<!--      <td>-->
<!--        <label style="color:white; background-color: #0E81D2; padding: 2px" *ngIf="data.exerciseState===1; else exerciseState" >已通过</label>-->
<!--        <ng-template #exerciseState >-->
<!--          <label style="color:white; background-color: red; padding: 2px">待审核</label>-->
<!--        </ng-template>-->
<!--      </td>-->
      <td>
        <span *ngIf="1==data.exerciseType">编程题</span>
        <span *ngIf="2==data.exerciseType">选择题</span>
        <span *ngIf="3==data.exerciseType">判断题</span>
        <span *ngIf="4==data.exerciseType">填空题</span>
      </td>
<!--      <td>-->
<!--        <label *ngIf="(''+data.exerciseDifficultValue)==='简单'" style="color:white; background-color: lightseagreen; padding: 2px">-->
<!--          {{ data.exerciseDifficultValue}}</label>-->
<!--        <label *ngIf="(''+data.exerciseDifficultValue)==='适中'" style="color:white; background-color: #0E81D2; padding: 2px">-->
<!--          {{ data.exerciseDifficultValue}}</label>-->
<!--        <label *ngIf="(''+data.exerciseDifficultValue)==='困难'" style="color:white; background-color: #a94442; padding: 2px">-->
<!--          {{ data.exerciseDifficultValue}}</label>-->
<!--      </td>-->

      <!--      根据用户所拥有的的权限加载相应的操作功能，如果所有操作权限都没有，则不现实该列-->
      <td>{{data.exerciseUploadUserName}}</td>
      <td *ngIf="judgePermis">
        <button class="buttonActionStyle" *ngIf="permisAll.indexOf(exerciseDetailPermis) >= 0" nz-button nzType="default" (click)="lookExerciseDetail(data)">查看详情</button>
<!--        <button class="buttonActionStyle" *ngIf="permisAll.indexOf(exerciseModifyPermis) >= 0" nz-button nzType="dashed" (click)="modifyExercise(data)">修改</button>-->
        <button class="buttonActionStyle" *ngIf="permisAll.indexOf(exerciseDeletePermis) >= 0" nz-button nzType="danger"
                nz-popconfirm nzTitle="是否确定删除这道题目？" (nzOnConfirm)="deleteExercise(data.exerciseId)"
                nzPlacement="leftBottom">删除</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div style="width: 100%; height: 30px;"></div>
</div>

<!--      ************************************************************************************-->
<!--抽屉-->
<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="close()">
  <p class="title" style=" margin-bottom: 24px;">题目详情</p>
  <p class="title">题目介绍</p>
  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label" >题目名称: </p>
        {{this.data.exerciseName}}
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">题目标签: </p>
        {{this.data.exerciseLabel}}
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">审核状态: </p>
        <label *ngIf="this.data.exerciseState===1; else exerciseState" >已通过</label>
        <ng-template #exerciseState>待审核</ng-template>
      </div>
    </div>
  </div>

  <div nz-row *ngIf="data.exerciseType == 1">
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">题目描述: </p>
        {{this.data.exerciseDescription}}
      </div>
    </div>
  </div>


  <div *ngIf="data.exerciseType == 1">
    <nz-divider></nz-divider>
    <p class="title">参考样例</p>

    <div nz-row >
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">输入样例: </p>
          {{this.data.exerciseInputExample}}
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">输出样例: </p>
          {{this.data.exerciseOutputExample}}
        </div>
      </div>
    </div>


    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">注意事项: </p>
          {{this.data.exerciseWarning}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="data.exerciseType == 2">
    <nz-divider></nz-divider>
    <p class="title">题目选项</p>

    <div nz-row >
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">A: </p>
          {{this.data.exerciseSelectOne}}
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">B: </p>
          {{this.data.exerciseSelectTwo}}
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">C: </p>
          {{this.data.exerciseSelectThree}}
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <div class="item-wrap">
          <p class="label">D: </p>
          {{this.data.exerciseSelectFour}}
        </div>
      </div>
    </div>

  </div>


  <nz-divider></nz-divider>
  <p class="title">上传信息</p>
  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">上传人: </p>
        {{this.data.exerciseUploadUserName}}
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">审阅人: </p>
        {{this.data.exerciseCheckUserName}}
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="item-wrap">
        <p class="label">上传时间:</p>
        {{this.data.exerciseTime}}
      </div>
    </div>
  </div>
</nz-drawer>

<!--    ******************************************************************************************-->
<!--修改题目弹出框-->

<nz-modal [(nzVisible)]="modalVisible" nzTitle="修改题目"
           nzMaskClosable="false" nzWidth="600px" (nzOnCancel)="cancelModify()" (nzOnOk)="submitModify()">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">题目名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired nzErrorTip="请输入2-100个字符">
        <input nz-input [(ngModel)]="modalData.exerciseName"  formControlName="exerciseName" pattern=".{2,100}" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">题目标签</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired >
        <nz-select nzMode="multiple" nzPlaceHolder="请选择标签" [(ngModel)]="listOfSelectedValue"
                   formControlName="exerciseLabel" nzMaxTagCount="3" nzMaxMultipleCount="3" >
          <ng-container *ngFor="let option of listOfOption">
            <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">输入样例</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired>
        <input nz-input [(ngModel)]="modalData.exerciseInputExample" formControlName="exerciseInputExample" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">输出样例</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired>
        <input nz-input [(ngModel)]="modalData.exerciseOutputExample" formControlName="exerciseOutputExample"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">注意事项</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired>
        <input nz-input [(ngModel)]="modalData.exerciseWarning" formControlName="exerciseWarning"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">题目描述</nz-form-label>
      <nz-form-control [nzSpan]="16" nzRequired>
        <textarea rows="4" nz-input [(ngModel)]="modalData.exerciseDescription" formControlName="exerciseDescription" ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<!--    ******************************************************************************************-->
<!--上传题目-->


<nz-modal [(nzVisible)]="uploadExerciseVisible" nzTitle="上传题目"
          (nzOnCancel)="closeModal()" [nzFooter]="null" nzWidth="800">
  <div>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="题目数据"></nz-step>
      <nz-step nzTitle="题目说明"></nz-step>
      <nz-step nzTitle="测试文件"></nz-step>
    </nz-steps>

    <div class="steps-content">
      <div *ngIf="index===1">
        <form nz-form [formGroup]="exerciseForm">

          <nz-form-item>
            <nz-form-label [nzSpan]="5">题目名称</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <textarea rows="3" nz-input [(ngModel)]="uploadExercise.exerciseName" formControlName="exerciseName"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5">题目标签</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <nz-select nzMode="multiple" nzPlaceHolder="请选择标签" [(ngModel)]="labelValue"
                         formControlName="exerciseLabel" nzMaxTagCount="3" nzMaxMultipleCount="3" >
                <ng-container *ngFor="let option of listOfOption">
                  <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5">题目类型</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <nz-select [(ngModel)]="exerciseTypeValue"
                         formControlName="exerciseType">
                <ng-container *ngFor="let option of listOfType">
                  <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5">题目分值</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <nz-input-number [(ngModel)]="uploadExercise.exerciseScore" style="width: 100%;" [nzMin]="1" [nzMax]="30" [nzStep]="1" formControlName="exerciseScore"></nz-input-number>
            </nz-form-control>
          </nz-form-item>

<!--          <nz-form-item>-->
<!--            <nz-form-label [nzSpan]="5">题目难度</nz-form-label>-->
<!--            <nz-form-control [nzSpan]="16" nzHasFeedback nzRequired>-->
<!--              <nz-select-->
<!--                style="width: 100%;"-->
<!--                nzShowSearch-->
<!--                nzAllowClear-->
<!--                nzPlaceHolder="选择一种题目难度"-->
<!--                [(ngModel)]="uploadExercise.exerciseDifficultValue" formControlName="exerciseDifficult"-->
<!--              >-->
<!--                <nz-option nzLabel="简单" nzValue="简单"></nz-option>-->
<!--                <nz-option nzLabel="中等" nzValue="适中"></nz-option>-->
<!--                <nz-option nzLabel="困难" nzValue="困难"></nz-option>-->
<!--              </nz-select>-->
<!--            </nz-form-control>-->
<!--          </nz-form-item>-->


          <nz-form-item>
            <nz-form-label [nzSpan]="5">参考代码/答案</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <textarea rows="6" nz-input [(ngModel)]="uploadExercise.exerciseCode" formControlName="exerciseCode" ></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>

      </div>
      <div *ngIf="index===2">

          <nz-form-item *ngIf="'编程题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">题目描述</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <textarea rows="4" nz-input [(ngModel)]="uploadExercise.exerciseDescription" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'编程题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5" >输入样例</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseInputExample"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'编程题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">输出样例</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseOutputExample"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'编程题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">注意事项</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseWarning"
                        placeholder="例如：代码中不要输出任何多余无关字符"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'选择题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">选项A</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseSelectOne"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'选择题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">选项B</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseSelectTwo"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'选择题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">选项C</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired >
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseSelectThree"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="'选择题'==exerciseTypeValue">
            <nz-form-label [nzSpan]="5">选项D</nz-form-label>
            <nz-form-control [nzSpan]="16" nzRequired>
              <textarea rows="2" nz-input [(ngModel)]="uploadExercise.exerciseSelectFour"
                        placeholder="" ></textarea>
            </nz-form-control>
          </nz-form-item>

        <div style="display: inline-block; text-align: left; width: 100%; border: 1px ">
          <div style="display: inline-block; text-align: right; line-height: 40px; width: 156px; margin-right: 5px">
            <label>是否开放到习题中: </label>
          </div>
          <nz-switch [(ngModel)]="this.isFree" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
        </div>
      </div>
      <div *ngIf="index===3">
        <div *ngIf="'编程题'==exerciseTypeValue">
          <h3>
            上传文件说明：上传的文件必须是zip格式的压缩包，大小不能超过10M。压缩包里面包含的是测试文件，
            分别为.in和.out文件，可以有多个.in和.out文件但名称必须相同。例如：test1.in、test1.out、test2.in、test2.out
          </h3>
          <nz-upload nzAction="apidata/file/upload" nzAccept=".zip" nzType="drag"
                     [nzBeforeUpload]="beforeUpload" nzSize="10240" (nzChange)="handleChange($event)">
            <p class="ant-upload-drag-icon">
              <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">Click or drag file to this area to upload</p>
            <p class="ant-upload-hint">
              只支持zip文件上传，大小不能超过10M
            </p>
          </nz-upload>
        </div>

        <div *ngIf="'编程题'!=exerciseTypeValue">
          <h3>
            无须上传测试文件，点击确认上传即可
          </h3>
        </div>

      </div>
    </div>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>上一步</span>
      </button>
      <button nz-button nzType="default" (click)="validateExercise()" *ngIf="current === 0">
        <span>下一步</span>
      </button>
      <button nz-button nzType="default" (click)="validateExample()" *ngIf="current === 1">
        <span>下一步</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span>确定上传</span>
      </button>
    </div>
  </div>
</nz-modal>

