.content {
  margin: 0px auto;
  min-width: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #000;
  width: 60%;
}
.exerciseDetails {
  margin-top: 10px;
  margin-left: 20px;
}
.messageTips {
  float: right;
  font-size: 18px;
  text-align: left;
  /*padding-left: 2px;*/
}
.messageTips label {
  font-size: 15px;
}
.hint {
  color: orange;
}
a {
  font-size: 20px;
  color: #0a4991;
  /*#00005f*/
}
h2 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 17px;
}
.textStyle {
  margin-bottom: 10px;
  width: 98%;
}
.buttonStyle {
  text-align: center;
  width: 100%;
  padding-top:10px;
  padding-bottom: 20px;
}
.buttonStyle button {
  margin-right: 30px;
}

.codeStyle{
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: 500;
}
