<div style="width: 100%; height: 30px"></div>
<div  class="content">
  <div class="exerciseDetails">
    <div style="width: 60px">
      <a (click)="backCollections()"><i nz-icon nzType="left" nzTheme="outline"></i>返回</a>
    </div>
    <div style="margin-top: 10px;">
      <button *ngIf="chooseExercise.length > 0" (click)="chooseChange()" nz-button nzType="default">单选题 ({{chooseExercise.length}}题)</button>
      <button *ngIf="multiChooseExercise.length > 0" (click)="multiChange()" nz-button nzType="default">多选题 ({{multiChooseExercise.length}}题)</button>
      <button *ngIf="judgeExercise.length > 0" (click)="judgeChange()" nz-button nzType="default">判断题 ({{judgeExercise.length}}题)</button>
      <button *ngIf="blankExercise.length > 0" (click)="blankChange()" nz-button nzType="default">填空题 ({{blankExercise.length}}题)</button>
      <button *ngIf="programExercise.length > 0" (click)="programChange()" nz-button nzType="default">编程题 ({{programExercise.length}}题)</button>
      <button *ngIf="selfExercise.length > 0" (click)="selfChange()" nz-button nzType="default">主观题 ({{selfExercise.length}}题)</button>
    </div>
      <nz-card style="width:98%;">
        <div nz-col [nzSpan]="8" class="messageTips">
          <nz-card nzType="inner" nzTitle="题目相关信息">
            <div>
              <label>题目标签：{{ this.sysDetailsData.exerciseLabel }}</label><br>
              <label>作者：{{ this.sysDetailsData.exerciseUploadUserName }}</label><br>
              <label>审查人：{{ this.sysDetailsData.exerciseCheckUserName }}</label><br>
              <label>上传时间：{{ this.sysDetailsData.exerciseTime }}</label>
            </div>
          </nz-card>
        </div>

        <div>
<!--           <pre *ngIf="exerciseType==1"><h2>{{ this.sysDetailsData.exerciseName }}</h2></pre>-->
           <pre style="font-size: 20px; font-weight: 600" [innerHTML]="sysDetailsData.exerciseName"></pre>
          <!--        <h2 *ngIf="collectionId!=null">{{ this.sysDetailsData.exerciseName }} ({{sysDetailsData.exerciseScore}}分) </h2>-->
          <div *ngIf="exerciseType == 1">
            <h3>输入样例：</h3> <p>{{ this.sysDetailsData.exerciseInputExample}}</p>
            <h3>输出样例：</h3> <p>{{ this.sysDetailsData.exerciseOutputExample}}</p>
            <h3>提示信息：</h3> <p class="hint">{{ this.sysDetailsData.exerciseWarning}}</p>
          </div>
        </div>

    </nz-card>

      <h3 style="margin-top: 5px">答题区</h3>
      <div class="compiler">
<!--        编程题-->
        <div *ngIf="exerciseType==1" style="border: 1px solid silver;width: 98%">
          <codemirror  [(ngModel)]="sysDetailsData.exerciseCode"
                       [config]="cmOptions">
          </codemirror>
        </div>
<!--        单选题-->
        <div *ngIf="exerciseType==2" style="margin-top: 20px; margin-bottom: 20px">
          <nz-radio-group [(ngModel)]="sysDetailsData.exerciseCode">
            <label nz-radio nzValue="A">A</label>
            <label nz-radio nzValue="B">B</label>
            <label nz-radio nzValue="C">C</label>
            <label nz-radio nzValue="D">D</label>
          </nz-radio-group>
        </div>

<!--        判断题-->
        <div *ngIf="exerciseType==3" style="margin-top: 20px; margin-bottom: 20px">
          <nz-radio-group [(ngModel)]="sysDetailsData.exerciseCode">
            <label nz-radio nzValue="对">对</label>
            <label nz-radio nzValue="错">错</label>
          </nz-radio-group>
        </div>

<!--        填空题-->
        <div *ngIf="exerciseType == 4">
          <div *ngFor="let tt of exerciseBlank; let i=index">
            <input class="inputStyle" [(ngModel)]="tempExerciseBlank[i]" placeholder="（{{i+1}}）">
          </div>
        </div>

<!--        多选题-->
        <div *ngIf="exerciseType==5" style="margin-top: 20px; margin-bottom: 20px">
          <nz-checkbox-wrapper (nzOnChange)="log($event)">
              <label nz-checkbox nzValue="A">A</label>
              <label nz-checkbox nzValue="B">B</label>
              <label nz-checkbox nzValue="C">C</label>
              <label nz-checkbox nzValue="D">D</label>
          </nz-checkbox-wrapper>
        </div>

        <!--          主观题-->
        <div *ngIf="exerciseType==6" style="margin-top: 20px; margin-bottom: 20px;width: 98%">
          <textarea rows="6" nz-input [(ngModel)]="sysDetailsData.exerciseCode"></textarea>
        </div>

        <div class="result" *ngIf="isSubmit">
          <textarea
            [(ngModel)]="compilerResult"
            [nzAutosize]="{ minRows: 5, maxRows: 15 }"
            class="textStyle codeStyle"
            disabled>
          </textarea>
        </div>
        <div class="buttonStyle">
          <button nz-button nzType="primary" id="submitId" [nzLoading]="compileSubmitLoading" [disabled]="submitDisable" (click)="submitCode()">提交</button>
          <button *ngIf="collectionId!=null && exerciseType==1" nz-button nzType="primary" [disabled]="testDisable" [nzLoading]="compileTestLoading" (click)="onlineTest()">在线运行</button>
          <button *ngIf="collectionId!=null" nz-button nzType="default" [disabled]="exerciseIndex==0" (click)="backExercise()">上一题</button>
          <button *ngIf="collectionId!=null" nz-button nzType="default" [disabled]="exerciseIndex==exerciseLength-1" (click)="nextExercise()">下一题</button>
        </div>
      </div>
  </div>
</div>
<div style="width: 100%; height: 30px"></div>
