<div style="width: 100%; height: 30px"></div>
<nz-select *ngIf="rankValue > 7" style="width: 200px;margin-left: 100px;" [(ngModel)]="courseValue" (ngModelChange)="courseChange($event)" nzSize="default">
  <nz-option *ngFor="let option of courseListOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
</nz-select>
<nz-select *ngIf="rankValue > 7" style="width: 100px;margin-left: 10px;margin-bottom: 10px" [(ngModel)]="classValue" (ngModelChange)="classChange($event)" nzSize="default">
  <nz-option *ngFor="let option of classListOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
</nz-select>
<nz-select *ngIf="rankValue > 7" style="width: 150px;margin-left: 10px;margin-bottom: 10px" [(ngModel)]="collectionValue" (ngModelChange)="collectionChange($event)" nzSize="default">
  <nz-option *ngFor="let option of collectionListOfOption" [nzLabel]="option" [nzValue]="option"></nz-option>
</nz-select>

<nz-table #sysLogTable [nzData]="sysData" [nzFrontPagination]="false"
          [nzShowSizeChanger]="true" [nzLoading]="loading" [nzPageSize]="pageSize"
          [nzPageSizeOptions]="[10,20,50,100]" [nzTotal]="totalSize" nzTitle=" "
          (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"
          nzSize="default">
  <thead>
    <a *ngIf="courseName!=null" (click)="back()" style="font-size: 20px;color: #0a4991;"><i nz-icon nzType="left" nzTheme="outline"></i>返回</a>
  <tr>
    <th *ngIf="rankValue==6">课程名称</th>
    <th *ngIf="rankValue==6">实验名称</th>
    <th *ngIf="rankValue==6">已提交</th>
    <th *ngIf="rankValue==6">题目总数</th>
    <th *ngIf="rankValue==6">得分</th>
    <th *ngIf="rankValue==6">总分</th>

    <th *ngIf="rankValue>7">学号</th>
    <th *ngIf="rankValue>7">姓名</th>
    <th *ngIf="rankValue>7">已提交</th>
    <th *ngIf="rankValue>7">题目总数</th>
    <th *ngIf="rankValue>7">得分</th>
    <th *ngIf="rankValue>7">总分</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sysLogTable.data">
    <td *ngIf="rankValue==6" >{{ data.courseName }}</td>
    <td *ngIf="rankValue==6"><a [title]="'点击查看详情'" [routerLink]="['/home/scoreDetail', data.collectionId, '0000']">{{ data.collectionName }}</a></td>
    <td *ngIf="rankValue==6">{{ data.deciedNumber }}（题）</td>
    <td *ngIf="rankValue==6">{{ data.exerciseNumber }}（题）</td>
    <td *ngIf="rankValue==6">{{ data.collectionScore }}（分）</td>
    <td *ngIf="rankValue==6">{{ data.totalScore }}（分）</td>

    <td *ngIf="rankValue > 7"><a [title]="'点击查看详情'" [routerLink]="['/home/scoreDetail', data.collectionId, data.userNumber]">{{data.userNumber}}</a></td>
    <td *ngIf="rankValue > 7">{{data.userRealName}}</td>
    <td *ngIf="rankValue > 7">{{data.deciedNumber}}（题）</td>
    <td *ngIf="rankValue > 7">{{data.exerciseNumber}}（题）</td>
    <td *ngIf="rankValue > 7">{{data.collectionScore}}（分）</td>
    <td *ngIf="rankValue > 7">{{data.totalScore}}（分）</td>

  </tr>
  </tbody>
</nz-table>
<div style="width: 100%; height: 30px"></div>
